
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_site123.cshtml";
}

<h2>Contact</h2>
<h3>muntajshaik.20@gmail.com</h3>

@section adsSection{
<div>
    <img src="Images/a5.jpg" width="400" height="100" />
</div>
}
   
   