
@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_site123.cshtml";
}

<h2>Index1</h2>

@section headSection{ @*these element is reneder at head section of page*@
    <style>
        h2{
            background-color:blue;
            color:white;
            text-align:center;
        }
    </style>
    <script>
        alert("Index is Selected")
    </script>
    
    }