
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>fir</title>
</head>
<body>
    <div>
        @{ Html.BeginForm("fir", "Strongly");}
        @Html.Label("UserName:")<br />
        @Html.TextBox("username")<br /><br />
        @Html.Label("Address:")<br />
        @Html.TextArea("textarea")<br /><br />
        <input type="submit" value="Click me" />
        @{ Html.EndForm();}
    </div>
</body>
</html>
